.navbar {
    width: 1200px;
    margin: 0 auto;

    position: sticky;
    top: 11px;

    display: flex;
    justify-content: space-between;
    height: 59px;
}

.navbar__home, .navbar__home button {
    color: #fff;
}

.navbar__content {
    display: flex;
    gap: 176px;
}

.navbar__pages {
    display: flex;
    gap: 64px;
}

.navbar__pages button {
    font-size: 20px;
    font-weight: 600;
}

.navbar__logo {
  font-family: "Charm";
  font-size: 48px;
}