* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

label,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: sans-serif;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
  outline: none;
}

input {
  border: none;
}

span {
  font-family: sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  color: inherit;
  display: flex;
  justify-content: center;
}

.flc {
  display: flex;
  justify-content: center;
  align-items: center;
}